<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% block meta %} {% endblock %}

    <!-- Bootstrap and Other Style Sheets-->
    <link href="{{ url_for('resources.static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('resources.static', filename='css/all.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('resources.static', filename='jquery-ui/jquery-ui.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('game.static', filename='css/game_style.css') }}" rel="stylesheet">
    <link href="{{ url_for('game.static', filename='css/main_menu.css') }}" rel="stylesheet">
    
    <!-- Custom Style Sheets-->
    {% block head %} {% endblock %}
  </head>

  <body>
  <div>
  {% block body %} {% endblock %}
  </div>
  {% block foot %} {% endblock %}
  <script src="{{ url_for('resources.static', filename='js/jquery-3.3.1.min.js') }}"></script>
  <script src="{{ url_for('resources.static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('resources.static', filename='jquery-ui/external/jquery/jquery.js') }}"></script>
  <script src="{{ url_for('resources.static', filename='jquery-ui/jquery-ui.min.js') }}"></script>
  <script src="{{ url_for('game.static', filename='js/socket.io.slim.js') }}"></script>
  <script src="{{ url_for('game.static', filename='js/setup.js') }}"></script>
  <script src="{{ url_for('game.static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('game.static', filename='js/states.js') }}"></script>
  <script src="{{ url_for('game.static', filename='js/resource_manager.js') }}"></script>
  <script src="{{ url_for('game.static', filename='js/ecs.js') }}"></script>
  <script src="{{ url_for('game.static', filename='js/camera.js') }}"></script>
  
  </body>
</html>
