<div class="container mm_menu_wrapper" id="ui_main_menu">
	<div class="row">
		<div class="col">
			<h1 class="text-white title_text">Descent</h1>
		</div>
	</div>
	<div class="row" id="content_row">
		<div class="col-4">
			<div class="container btn-group-vertical">
				<button class="ui-button ui-widget ui-corner-all mm_buttons" id="single_game">Start Game</button>
				<br />
				<button class="ui-button ui-widget ui-corner-all mm_buttons" id="create_lobby">Create Lobby</button>
				<br />
				<button class="ui-button ui-widget ui-corner-all mm_buttons" id="join_lobby">Join Lobby</button>
				<br />
				<button class="ui-button ui-widget ui-corner-all mm_buttons" id="view_unlocks">View Unlocks</button>
			</div>
		</div>
		<div class="col ">
				<img class="mx-auto full_logo" src="{{ url_for('game.static', filename='resources/images/Splash.png') }}" alt="" />
		</div>
	</div>
	<div id="mm_join_lobby" title="Enter Lobby Code" class=" container-fluid">
		<input type="text" id="mm_join_lobby_code" class="text form-control">	
	</div>
</div>