<div class="container mm_menu_wrapper" id="ui_main_menu">
	<div class="row">
		<div class="col">
			<h1 class="text-white title_text">Descent</h1>
		</div>
	</div>
	<div class="row" id="content_row">
		<div class="col-4">
			<div class="container btn-group-vertical">
				<button class="btn btn-outline-danger mm_buttons" id="single_game">Start Game</button>
				<br />
				<button class="btn btn-outline-danger mm_buttons" id="coop_game">Co-Op Game</button>
				<br />
				<button class="btn btn-outline-danger mm_buttons" id="view_unlocks">View Unlocks</button>
			</div>
		</div>
		<div class="col ">
				<img class="mx-auto full_logo" src="{{ url_for('game.static', filename='resources/images/Splash.png') }}" alt="" />
		</div>
	</div>
</div>