<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% if title %}
      <title>Descent - {{ title }}</title>
    {% else %}
      <title>Descent</title>
    {% endif %}

    <!-- Bootstrap and Other Style Sheets-->
    <link href="{{ url_for('resources.static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  </head>

  <body>
  <div class="container">
  {% block body %}

  {% endblock %}
  </div>
  <script src="{{ url_for('resources.static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('resources.static', filename='js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>