{% extends "general_layout.html" %}

{% block head %}

<link href="{{ url_for('users.static', filename='css/user_style.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show text-center container mt-3" style="width:50%">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% endblock %}