.class_select_wrapper{
	margin-top: 60px;
	padding-left: 200px;
	padding-right: 200px;
}
.character_portrait{
	width: 100%;
	margin:auto;
	display:block;
	object-fit: cover;
}

.cs_mid{
	padding-left: 80px;
	padding-right: 80px;
	margin-right: 40px;
	margin-left: 40px;
}

.cs_left {
}

.cs_right {
	
}