.class_select_wrapper{
	padding-left: 100px;
	padding-right: 100px;
}
.character_portrait{
	width: 100%;
	margin:auto;
	display:block;
	object-fit: cover;
}

.cs_mid{
	padding-left: 80px;
	padding-right: 80px;	
}

#cs_class_buttons{
	height:100%;
}

.cs_left {
}

.cs_right {
	height:100%
}
